target
project/project
src/main/scala-2.10
src/main/scala-2.11
.classpath
.project
.cache
.settings
.idea
.history
logs
client/src/main/swagger/.sbt-play-boilerplate
server/src/main/resources/routes
server/src/main/swagger/.sbt-play-boilerplate
*.class
*.log
